@media (min-width: 200px) {
	header {
		font-size: 2.6vmin;
	}
	.company_name {
		.square {
			top: 28vh;
		}
		h1 {
			margin-top: 33vh;
		}
	}
}
@media (min-width: 498px) {
	header {
		font-size: 2.3vmin;
	}
	.company_name {
		.square {
			top: 26vh;
		}
		h5 {
			padding-right: 10%;
		}
	}
}
@media (min-width: 768px) {
	header {
		font-size: 1rem;
	}
	.company_name {
		.square {
			top: 15vh;
		}
		h1 {
			margin-top: 22vh;
		}
		h5 {
			padding-right: 0;
		}
	}
}
@media (min-width: 992px) {
	p {
		font-size: 1em;
	}
	h3 {
		font-size: 1em;
	}
	#waypoint_4 {
		.right_side_choose {
			h2 {
				margin-top: 1%;
			}
		}
	}
}
@media (min-width: 1200px) {
	p {
		font-size: 1.3em;
	}
	h3 {
		font-size: 1.3em;
	}
	#waypoint_4 {
		.right_side_choose {
			h2 {
				margin-top: 4%;
			}
		}
	}
}
@media (min-width: 1400px) {
	h2 {
		font-size: 2.5em;
	}
	p {
		font-size: 1.5em;
	}
	.container {
		width: 1370px;
	}
	header {
		font-size: 1.1rem;
	}
	.company_name {
		h5 {
			padding-right: 10%;
		}
	}
	#waypoint_4 {
		.right_side_choose {
			table {
				margin-top: 2em;
			}
		}
	}
	#waypoint_6 {
		h2 {
			margin-top: 10%;
		}
		form {
			input[type="text"] {
				width: 520px;
				padding-left: 75px;
			}
			.message {
				width: 520px;
				height: 270px;
				textarea {
					width: 504px;
					height: 220px;
					padding-left: 75px;
				}
			}
		}
	}
}
@media (min-width: 1700px) {
	.logo {
		img {
			width: 190px;
		}
	}
	.navbar-nav {
		font-size: 1.1em;
	}
	.company_name {
		h1 {
			font-size: 3.5em;
		}
		h5 {
			font-size: 1.2em;
		}
	}
	header {
		.square {
			width: 21em;
		}
	}
	h2 {
		font-size: 3.5em;
	}
	p {
		font-size: 2em;
	}
	.container {
		width: 1670px;
	}
	header {
		font-size: 1.35rem;
	}
	#waypoint_3 {
		table {
			margin-top: 6%;
			width: 100%;
			.mid_td {
				width: 10%;
				height: 10em;
			}
			.left_td, .right_td {
				width: 45%;
			}
			.left_td {
				text-align: right;
				padding: 1em 6em 1em 0;
				background: url("../img/icon_sky_arrow.png") no-repeat right center;
				background-size: 5.5em;
			}
			.right_td {
				text-align: left;
				padding: 1em 0 1em 6em;
				background: url("../img/icon_sky_arrow.png") no-repeat left center;
				background-size: 5.5em;
			}
		}		
	}
	#waypoint_4 {
		.right_side_choose {
			table {
				margin-top: 2em;
			}
		}
	}
	#waypoint_6 {
		h2 {
			margin-top: 10%;
		}
		form {
			input[type="text"] {
				width: 550px;
				height: 61px;
				padding-left: 75px;
			}
			.message {
				width: 550px;
				height: 270px;
				textarea {
					padding-left: 75px;
					width: 544px;
					height: 220px;
				}
			}
		}
	}
}