$color-in-header: #fff;
$bgcolor-in-header: #191919;
$bgcolor-in-section: #fff;
$default-color-menu: #D6D6D6;
$active-color-menu: #fff;
$details-color-header: red;

// ====================== Begin "Keyframes" =========================
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
      opacity: 1;
  }
}

.flipInX {
	animation-name: flipInX;
	animation-duration: .5s;
	animation-fill-mode: both;
	backface-visibility: visible !important;
}
@keyframes moveDownContainer {
	from {
		margin-top: -300%;
	}
	to {
		margin-top: -54%;
	}
}
.moveDownContainer {
	animation-name: moveDownContainer;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}
@keyframes moveStacker {
	from {
		left: -200%;
	}
	to {
		left: 0;
	}
}
.moveStacker {
	animation-name: moveStacker;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
  	opacity: 1;
    transform: none;
  }
}
.bounceInRight {
	animation-name: bounceInRight;
	animation-duration: 2.5s;
	animation-fill-mode: forwards;
}
// ====================== End "Keyframes" =========================

body, html, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
html, body {
	font-size: 16px;
	min-width: 320px;
	background-color: $bgcolor-in-header;
}
p {
	font: normal 1.3em "Times New Roman", sans-serif;
}
#my-page {
	opacity: 0;
	transition: opacity 3s;
}
.red_line {
	display: block;
	background-color: $details-color-header;
	height: .3em;
}
.bg_above {
	background: url('../img/bg_above.jpg') no-repeat center;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -1;
	visibility: hidden;
}
.bg_choose {
	background: url('../img/bg_choose_us.jpg') no-repeat center;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -2;
	visibility: hidden;
}
header {
	font-size: 1rem;
	background: $bgcolor-in-header url('../img/bgimage.jpg') no-repeat center;
	background-size: cover;
	overflow: hidden;
	color: $color-in-header;
	.top_line {
		background-color: transparent;
		width: 100%;
	}
	.repaint_topLine {
		background-color: $bgcolor-in-header;
		transition: 1s;
	}
	.square {
		position: absolute;
		width: 17em;
		left: 0;
		z-index: 0;
	}
	.red_line, .square {
		animation-name: fadeIn;
		animation-duration: 2.5s;
		animation-fill-mode: both;
	}
	.red_line, .company_name h1, .company_name h5 {
		margin-left: 1.5%;
	}
	.red_line {
		width: 25.9em;
	}
	.fixedNav {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, .8);
		z-index: 1000;
		animation-name: fadeIn;
		animation-duration: .5s;
	}
}
.logo, .phone, .hamburger {
		animation-name: fadeIn;
		animation-delay: 1s;
		animation-duration: 1.5s;
		animation-fill-mode: both;	
}
.logo {
	position: absolute;
	top: 5px;
	left: 2%;
	img {
		width: 135px;
		height: auto;
	}
}
.navbar-default {
	border: none;
}
.navbar-nav {
	float: right;
	font-size: .9em;
}
.navbar-default .navbar-nav>li>a {
	color: $default-color-menu;
	padding-bottom: 3px;
	margin-top: 10px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: $active-color-menu;
	background-color: transparent;
	border-bottom: 3px solid $details-color-header;
}
.company_name {
	h1 {
		font-size: 2.8em;
		animation-name: fadeIn;
		animation-delay: .5s;
		animation-duration: 1.5s;
		animation-fill-mode: both;
		text-shadow: 1px 1px 2px #E9E9E9;
	}
	h5 {
		padding-top: 2em;
		font-size: 1em;
		line-height: 1.3em;
		animation-name: fadeIn;
		animation-delay: 1.5s;
		animation-duration: 3s;
		animation-fill-mode: both;
	}
}
//-------------------- Begin "Mmenu-jquery" ----------------------------------------
.hamburger {
	position: absolute;
	top: 9px;
	right: 0;
	.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
		background-color: #FF0000;
		width: 35px;
		height: 3px;
	}
}
// -------------------- End "Mmenu-jquery" -----------------------------------------
// =========================== Begin "Waypoint" ====================================
#waypoint_1 {
	position: relative;
	overflow: hidden;
	.bg_about {
		position: absolute;
		background: #aea99d url('../img/bg_about_us.jpg') no-repeat center;
		background-size: cover;
		height: 100vh;
		width: 100%;
	}
	.fixbg {
		position: fixed;
		top:0;
		left: 0;
	}
	.fixdown {
		bottom: 0;
	}
	.about_us_1 {
		padding-top: 20%;
		.sea_container {
			width: 100%;
			margin-top: -300%;
		}
		.red_line {
			width: 6em;
		}
		.about_title {
			opacity: 0;
		}
		.about_txt {
			margin-top: 2.5em;
			opacity: 0;
		}
	}
	.about_us_2 {
		// margin-top: 5%;
		padding: 15% 0;
		.stacker {
			position: relative;
			width: 100%;
			margin-top: -25%;
			left: -200%;		
		}
		.about_txt {
			opacity: 0;
		}
	}
}

#waypoint_2 {
	background-color: transparent;
	.above {
		color: $color-in-header;
		text-align: center;
		width: 80%;
		margin: 0 auto;
		padding: 3em;
	}
}

#waypoint_3 {
	background: #ada697 url('../img/bg_our_service.jpg') no-repeat center;
	background-size: cover;
	padding: 7.5% 0;
	min-height: 100vh;
	h2 {
		text-align: center;
	}
	.red_line {
		width: 8em;
		margin: 0 auto;
	}
	table {
		margin-top: 6%;
		width: 100%;
		.mid_td {
			width: 10%;
			height: 8em;
		}
		.left_td, .right_td {
			width: 45%;
		}
		.left_td {
			text-align: right;
			padding: 1em 6em 1em 0;
			background: url("../img/icon_sky_arrow.png") no-repeat right center;
			background-size: 4.5em;
		}
		.right_td {
			text-align: left;
			padding: 1em 0 1em 6em;
			background: url("../img/icon_sky_arrow.png") no-repeat left center;
			background-size: 4.5em;
		}
	}
}

#waypoint_4 {
	min-height: 100vh;
	background-color: transparent;
	color: $color-in-header;
	.left_side_choose {
		img {
			width: 85%;
			margin: 20% 0;
		}
	}
	.right_side_choose {
		h2 {
			text-align: center;
		}
		.red_line {
			width: 9em;
			margin: 5px auto 0 auto;
		}
		table {
			td {
				padding: 1.5em 0 1em 6em;
				vertical-align: middle;
			}
			.innovative {
				background: url('../img/ico_head.png') no-repeat left center;				
			}
			.agile {
				background: url('../img/ico_graph.png') no-repeat left center;
			}
			.experience {
				background: url('../img/ico_briefcase.png') no-repeat left center;
			}
			h3 {
				text-transform: uppercase;
			}
		}

	}
}

#waypoint_5 {
	text-align: center;
	background-color: #dad7d1;
	padding: 5% 0;
	.red_line {
		width: 9em;
		margin: 5px auto 0 auto;
	}
	p {
		padding: 1em 0;
		margin: 0 auto;
		width: 80%;
	}
	.container_logo {
		text-align: center;
		width: 100%;
		.logo_partners {
			display: inline-block;
			width: 20%;
			img {
				width: 80%;
			}
		}
	}
}

#waypoint_6 {
	background-color: #040308;
	background: url('../img/man.jpg') no-repeat right bottom;
	background-size: cover;
	min-height: 100vh;
	color: $color-in-header;
	border-bottom: 3px solid $details-color-header;
	.left_question {
		padding: 5% 0;
	}
	h2 {
		margin-top: 3%;
	}
	.red_line {
		width: 13em;
		margin-top: 5px;
	}
	form {
		margin-top: 10%;
		input[type="text"] {
			margin-bottom: 4%;
			color: $active-color-menu;
			border: none;
			outline: none !important;
			width: 435px;
			height: 46px;
			line-height: 45px;
			padding: 0 10px 0 60px;
		}
		input[name="name"] {
			background: url('../img/field_name.png') no-repeat;
			background-size: 100% 99%;
		}
		input[name="email"] {
			background: url('../img/field_email.png') no-repeat;
			background-size: 100% 99%;
		}
		.message {
			width: 435px;
			height: 190px;
			background: url('../img/field_message.png') no-repeat;
			background-size: 100%;
			textarea {
				margin: 3px 0;
				width: 419px;
				height: 140px;
				background: transparent;
				border: none;
				padding-left: 60px;
				resize: none;
			}
		}	
		input[type="image"] {
			background: url('../img/button_send.png') no-repeat;
			background-size: 100% 99%;
			padding: 10px 30px;
			text-transform: uppercase;
		}
	}
}
#waypoint_7 {
	height: 40vh;
	border-bottom: 3px solid $details-color-header;
	position: relative;
	.overlay {
	    background: transparent;
	    position: absolute;
	    width: 100%;
	    height: 40vh;
	    top: 0;
	    left: 0;
	}
}

#my-footer {
	background: url('../img/footer.jpg') no-repeat center center;
	background-size: cover;
	height: 40vh;
	width: 100%;
}
// ============================ End "About us" section =============================
@import "media";

// ===========================  Begin "Preloader page" =============================
.loaderArea {
	background-color: $bgcolor-in-header;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	z-index: 100000;
}

.loader {
  position: relative;
  text-align: center;
  top: 40vh;
  margin: auto;
  width: 350px;
  color: white;
  font-family: sans-serif;
  font-size: 36px;
  background: linear-gradient(180deg, #222 0, #444 100%);
  box-shadow: inset 0 5px 20px black;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.loader:after {
  content: "";
  display: table;
  clear: both;
}

span {
  float: left;
  height: 100px;
  line-height: 120px;
  width: 50px;
}

.loader > span {
  border-left: 1px solid #444;
  border-right: 1px solid #222;
}

.covers {
  position: absolute;
  height: 100%;
  width: 100%;
}

.covers span {
  background: linear-gradient(180deg, $bgcolor-in-header 0, $bgcolor-in-header 100%);
  animation: up 2s infinite;
}

@keyframes up {
  0%   { margin-bottom: 0; }
  16%  { margin-bottom: 100%; height: 20px; }
  50% { margin-bottom: 0; }
  100% { margin-bottom: 0; }
}

.covers span:nth-child(2) { animation-delay: .142857s; }
.covers span:nth-child(3) { animation-delay: .285714s; }
.covers span:nth-child(4) { animation-delay: .428571s; }
.covers span:nth-child(5) { animation-delay: .571428s; }
.covers span:nth-child(6) { animation-delay: .714285s; }
.covers span:nth-child(7) { animation-delay: .857142s; }
// ===========================  Begin "Preloader page" =============================